@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --page-background-color: #fff;
  --primary-color: #664de5;
  --heading-color: #000;
  --sub-heading-color: #5c6984;
  --stepper-line-width: 50px;
  --border-color: #ebeff6;
  --border-width: 2px;
  --btn-text-color: #fff;
}
body {
  margin: 0;
  font-family: 'Inter', apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.company-name {
  font-size: 2rem;
  font-weight: 600;
}
